

.add-to-cart li {
    list-style-type: none;
}

.add-to-cart li a {
    text-decoration: none;
}

/* Mis estilos */

section#counter {
    background-color: rgb(241, 241, 241);
    width: 50vh;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    box-shadow: 5px 5px 5px rgb(155, 155, 155, 0.2);
    border-radius: 5px;
}

#counter form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-to-cart {
    display: flex;
    justify-content: space-around;
    width: 200px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    color: rgb(255, 255, 255);
    border: 1px solid black;
}

#counter input {
    text-align: center;
    width: 60px;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
}

#counter i {
    color: rgb(0, 96, 221);
}

#counter i, .submit {
    transition: all .4s;
    font-size: .9rem;
}

#counter a i:hover {
    color: rgb(0, 0, 0);
}

#counter .submit {
    padding: 10px 50px;
    width: auto;
    margin-top: 10px;
    font-size: .8rem;
    border: 1px solid black;
    background-color: rgb(0, 96, 221);
    color: white;
}

#counter .submit:hover {
    background-color: black;
    color: white;
}

#counter input::-webkit-outer-spin-button,
#counter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


#counter input[type=number] {
  -moz-appearance: textfield;
}