*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
nav li:hover{
    text-decoration: underline;
}

.carrito:hover{
    transform: scale(1.2);
    transition: 0.5s;
}